# Dependances Python - Projet PLBD-12
# Installation : pip install -r requirements.txt --break-system-packages
#
# IMPORTANT : PyTorch et ultralytics s'installent separement (voir README)
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu --break-system-packages
# pip install ultralytics --no-deps --break-system-packages

# Vision par ordinateur
opencv-python>=4.8.0

# Machine Learning
scikit-learn>=1.3.0
numpy>=1.24.0

# Visualisation
matplotlib>=3.7.0
pygame>=2.5.0

# GPIO Raspberry Pi 5 (installer uniquement sur RPi)
# pip install rpi-lgpio --break-system-packages
